# === Node & package managers ===
node_modules/
.pnpm/
.pnpm-workspace-state-v1.json
pnpm-lock.yaml



# === System / Editor ===
.vscode/
.DS_Store
Thumbs.db

# === Environment / Private ===
.env

# === Misc ===
*.log